<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">

    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-book"></i>Book Cart</a>

        <!-- Search Bar -->
        <div class="container d-flex justify-content-center">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Books/Author" aria-label="Search">
            </form>
        </div>


        <ul class="navbar-nav ms-auto">
            <!-- Cart -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <!-- Login -->
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>